{% extends 'layoutback.html.twig' %}


{% block header %}{{ parent() }}
    {% block title %} <title>template</title>{% endblock %}{% endblock %}
{% block body %}


{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}