{% extends 'layouthome.html.twig' %}


{% block header %}{{ parent() }}
    {% block title %} <title>about</title>{% endblock %}{% endblock %}
{% block body %}


{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}