{% extends '::layouthome.html.twig' %}

{% block header %}{{ parent() }}
    {% block title %} <title>blog_three_column</title>{% endblock %}{% endblock %}
{% block body %}


{% endblock %}



{% block footer %}
    {{ parent() }}
{% endblock %}