{% extends 'layouthome.html.twig' %}


{% block header %}{{ parent() }}
    {% block title %} <title>home_style_2</title>{% endblock %}{% endblock %}
{% block body %}
hello hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhh
    h
    hhhhhhhhhhhhhhhhhhhhhhhhhhh

    hhhhhhhhhhhhhhhhh
    hhhhhhh
    hhhhhhhhh
    hhhhhhhhhhhhhhhhhhhh
    hhhhhhhhhhhhh

{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}