{% extends '::layouthome.html.twig' %}

{% block header %}{{ parent() }}
    {% block title %} <title>pannier</title>{% endblock %}{% endblock %}
{% block body %}


{% endblock %}



{% block footer %}

{% endblock %}