{% extends "layouthome.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}

    <table align="right">
        <a href="{{  path('testP')}}"> Retour vers l'acceuil </a>
    </table>
{% endblock %}


{% block footer %}

{% endblock %}


